# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Conda environments
env/
venv/

# VS Code settings
.vscode/

# Mac system files
.DS_Store

# Windows system files
Thumbs.db

# Temporary files
*.log